{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<form action=" " method="post">
{% if happiness < 30 %}
            <img src="{% static 'images/cat_1.jpg'%}">
        {% elif happiness < 60 %}
            <img src="{% static 'images/cat_2.jpg'%}">
        {% else %}
            <img src="{% static 'images/cat_3.jpg'%}">
        {% endif %}
<p>Кот - {{ name }} </p>
<p>Возраст - 1 год </p>
<p>Уровень счастья - {{ happiness }} </p>
    <p>Уровень сытости - {{ satiety }} </p>
    {% csrf_token %}
    <select name="action" id="">
        <option value="test">Выберите действие</option>
        <option value="play">поиграть с котом</option>
        <option value="feed">покормить кота</option>
        <option value="sleep">уложить спать кота</option>
    </select>
    <input type="submit" value="Применить"/>
</form>

</body>
</html>
